<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeContracts.Unofficial" version="1.0.0.2" />
  <package id="DotNetOpenAuth.Core" version="4.0.0-RC1" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="0.23.0-draft" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="0.23.0-draft" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.0.0-RC1" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.0.0-RC1" />
  <package id="log4net" version="2.0.0" />
</packages>