<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core.UI" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.3.4.13329" targetFramework="net40" />
  <package id="log4net" version="2.0.10" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40" />
</packages>