<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeContracts.Unofficial" version="1.0.0.2" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core.UI" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="4.1.0.12182" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
</packages>